*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr: #222327;
}

.navi{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 70px !important;
    background: #fff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.1) !important;
}

.navi ul{
    margin: 0;
    padding: 0;
    display: flex !important;
    width: 350px !important;
}

.navi ul li{
    position: relative !important;
    list-style: none !important;
    width: 70px !important;
    height: 70px !important;
    z-index: 1 !important;
}

.navi ul li a{
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
    text-align: center !important;
    font-weight: 500 !important;
}

.navi ul li a .icons{
    position: relative !important;
    display: block !important;
    line-height: 75px !important;
    font-size: 1.5em !important;
    text-align: center !important;
    transition: 0.5s !important;
    color: var(--clr) !important;
}

.navi ul li.active a .icons{
    transform: translateY(-32px) !important;
}

.navi ul li a .texts{
    position: absolute !important;
    color: var(--clr) !important;
    font-weight: 400 !important;
    font-size: 0.75em !important;
    letter-spacing: 0.05em !important;
    transition: 0.5s !important;
    opacity: 0 !important;
    transform: translateY(20px) !important;
}

.navi ul li.active a .texts{
    opacity: 1 !important;
    transform: translateY(10px) !important;
}

.indi{
    position: absolute !important;
    top: -50% !important;
    border-radius: 50% !important;
    border: 4px solid var(--clr) !important;
    width: 70px !important;
    height: 70px !important;
    background: #FCB2A9 !important;
    transition: 0.5s !important;
}

.indi::before{
    content: '' !important;
    position: absolute !important;
    top: 50% !important;
    width: 20px !important;
    height: 20px !important;
    background: transparent !important;
    left: -22px !important;
    border-top-right-radius: 15px !important;
    /* box-shadow: 1px -10px 00 var(--clr); */
}

.indi::after{
    content: '' !important;
    position: absolute !important;
    top: 50% !important;
    width: 20px !important;
    height: 20px !important;
    background: transparent !important;
    right: -22px !important;
    border-top-left-radius: 15px !important;
    /* box-shadow: -1px -10px 00 var(--clr); */
}

.navi ul li:nth-child(1).active ~ .indi{
    transform: translateX(calc(70px * 0)) !important;
}
.navi ul li:nth-child(2).active ~ .indi{
    transform: translateX(calc(70px * 1)) !important;
}
.navi ul li:nth-child(3).active ~ .indi{
    transform: translateX(calc(70px * 2)) !important;
}
.navi ul li:nth-child(4).active ~ .indi{
    transform: translateX(calc(70px * 3)) !important;
}
.navi ul li:nth-child(5).active ~ .indi{
    transform: translateX(calc(70px * 4)) !important;
}
