*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    min-height: 100vh;
    background: #FFFEF9;
}

.search{
    width: 100%;
    /* min-height: 100vh; */
    padding: 5%;
    height: 11vh;
}

.search-bar {
    top: 0;
    width: 100%;
    max-width: 90%; /* Kurangi ukuran maksimal agar lebih responsif */
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2% 5%;
    backdrop-filter: blur(4px) saturate(180%);
    border: #FCB2A9 0.4vw solid; /* Gunakan vw untuk border */
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2.5% 4%; /* Gunakan persen untuk padding */
    font-size: 4vw; /* Gunakan vw untuk ukuran font agar responsif */
    color: #cac7ff;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 10vw; /* Gunakan vw untuk lebar lingkaran */
    height: 10vw; /* Gunakan vw untuk tinggi lingkaran */
    background: #FCB2A9;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Hilangkan padding tambahan */
}

.search-bar .icon {
    font-size: 5vw; /* Gunakan vw untuk ukuran ikon agar responsif */
    color: white;
}


.line{
    position: relative;
    margin-top: 2%;
}
