*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: block;
    min-height: 100vh;
    background: #FFFEF9;
}

.search{
    width: 100%;
    /* min-height: 100vh; */
    background-color: #FFFEF9;
    padding: 5%;
    height: 11vh;
}

.search-bar{
    top: 0;
    /* width: 100%;
    max-width: 700px; */
    background: rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 2.5px 5px;
    backdrop-filter: blur(4px) saturate(180%);
    border: #FCB2A9 2px solid;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    color: #cac7ff;
    width: 100%;
}

::placeholder{
    color: #FCB2A9;
    font-family:  SourceSerif4-Regular;
            font-size: 20px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #FCB2A9;
    cursor: pointer;
}

.search-bar .icon{
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.line{
    position: relative;
    margin-top: 2%;
}
